/* Colors indicated by Odin Project */
:root {
    --dark-background-color: #1F2937;
    --hero-background-color: #1F2937;
    --hero-secondary-text: #E5E7EB;
    --header-logo-text: #F9FAF8;
    --button-color: #3882F6;
    --call-background: #3882F6;
    --information-header-text: #1F2937;
    --quote-section-background: #E5E7EB;
    --quote-text: #1F2937;
}

html {
    /* Box sizing to total values set, not added after the fact */
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Use box sizing for all */
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.size-container {
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    margin: auto;
    padding: 25px;
    gap: 25px;
    padding-bottom: 60px;
}

.size2-container {
    display: flex;
    max-width: 80%;
    margin: auto;
    gap: 25px;
}

.header-container {
    background-color: var(--dark-background-color);
    color: var(--header-logo-text);
}

.hero-container {
    background-color: var(--dark-background-color);
    color: var(--header-logo-text);
}

#hero-image img {
    width: 100%;
    height: auto;
    border: #E5E7EB 3px solid;
    box-shadow: 0 4px 8px 0 rgba(167, 163, 163, 0.2), 0 6px 20px 0 rgba(179, 173, 173, 0.19);
}

#hero-button {
    align-self: center;
    background-color: var(--button-color);
    padding: 8px;
    border-radius: 10px;
}

#nav-list {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.info-container {
    width: 100%;
}

#info-title {
    font-size: 36px;
    font-weight: bolder;
    flex: 1;
    text-align: center;
}

.info-image {
    border: solid 4px var(--call-background);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--hero-secondary-text);
    width: 100%;
    height: auto;
}

.info-image img {
    width: 100%;
    height: auto;
}

.quote-container {
    background-color: var(--quote-section-background);
}

#quote {
    width: 100%;
    align-self: center;
    text-align: center;
    padding: 100px;
}

#quote-source {
    margin-top: -100px;
    align-self: flex-end;
    margin-bottom: 75px;
}

.col-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

.col-container p {
    flex: 1;
}

#hero-title {
    font-size: 48px;
    font-weight: bolder;
}

#logo {
    font-size: 24px;
}