/* Colors indicated by Odin Project */
:root {
    --dark-background-color: #1F2937;
    --hero-background-color: #1F2937;
    --hero-secondary-text: #E5E7EB;
    --header-logo-text: #F9FAF8;
    --button-color: #3882F6;
    --call-background: #3882F6;
    --information-header-text: #1F2937;
    --quote-section-background: #E5E7EB;
    --quote-text: #1F2937;
}

html {
    /* Box sizing to total values set, not added after the fact */
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Use box sizing for all */
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.size-container {
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    margin: auto;
    padding: 25px;
    gap: 25px;
}

.header-container {
    background-color: var(--dark-background-color);
    color: var(--header-logo-text);
}

.hero-container {
    background-color: var(--dark-background-color);
    color: var(--header-logo-text);
}

#hero-image {
    max-width: 50%;
}

#hero-image img {
    width: 100%;
    height: auto;
    border: #E5E7EB 3px solid;
}

#hero-button {
    align-self: center;
    background-color: var(--button-color);
    padding: 8px;
    border-radius: 10px;
}

#nav-list {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.col-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    gap: 15px;
}

#hero-title {
    font-size: 48px;
    font-weight: bolder;
}

#logo {
    font-size: 24px;
}