/* Colors indicated by Odin Project */
:root {
    --dark-background-color: #1F2937;
    --hero-background-color: #1F2937;
    --hero-secondary-text: #E5E7EB;
    --header-logo-text: #F9FAF8;
    --button-color: #3882F6;
    --information-header-text: #1F2937;
    --quote-section-background: #E5E7Eb;
    --quote-text: #1F2937;
}
html {
    /* Box sizing to total values set, not added after the fact */
    box-sizing: border-box;
}

*, *:before, *:after {
    /* Use box sizing for all */
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}